<div class="page-main">
  <div class="header">
    <div class="avatar">
      <!-- <img src="../../assets/images/avatar.png"> -->
    </div>
    <div class="name">张三</div>
  </div>
  <div class="top">
    <div class="title">
      <img src="../../assets/icons/1.png" alt="" />
      <span>城市表现</span>
      <span>当前产品：芬必得</span>
    </div>
    <div class="chart">

      <div class="chart-content">
        <div>

        </div>
        <div class="oo" echarts [options]="options">

        </div>
      </div>
    </div>
    <div class="biaoge">
      <div class="row">
        <div class="col">
          城市名称
        </div>
        <div class="col">
          产品销量
        </div>
        <div class="col">
          产品盒数
        </div>
      </div>
      <div class="row">
        <div class="col">
          上海
        </div>
        <div class="col">
          45217
        </div>
        <div class="col">
          247
        </div>
      </div>
      <div class="row">
        <div class="col">
          北京
        </div>
        <div class="col">
          27025
        </div>
        <div class="col">
          139
        </div>
      </div>
      <div class="row">
        <div class="col">
          广州
        </div>
        <div class="col">
          9235
        </div>
        <div class="col">
          38
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="title">
      <img src="../../assets/icons/2.png" alt="" />
      <span>拜访及会议</span>
      <span>当前产品：芬必得</span>
    </div>
    <div class="content">
      <div>
        <div>13</div>
        <div>本月拜访数量</div>
      </div>
      <div>
        <div>20</div>
        <div>本月拜访指标</div>
      </div>
      <div>
        <div>1</div>
        <div>会议数量</div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="title">
      <img src="../../assets/icons/3.png" alt="" />
      <span>医生覆盖</span>
      <span>当前产品：芬必得</span>
    </div>
    <div class="content">
      <div>
        <div>A类覆盖</div>
        <div>50%</div>
        <div class="a"></div>
      </div>
      <div>
        <div>B类覆盖</div>
        <div>80%</div>
        <div class="b"></div>
      </div>
      <div>
        <div>C类覆盖</div>
        <div>30%</div>
        <div class="c"></div>
      </div>
    </div>
  </div>
  <div class="abs-button"></div>
</div>
